.bg {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  background-color: white;
  filter: drop-shadow(0px 0px 1px grey);
  border-radius: 0.15rem;
  box-sizing: border-box;
  padding: 2.5rem 1.5rem;
  max-width: 400px;
}
.branding {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-self: stretch;
}
.line {
  height: 1px;
  align-self: stretch;
  background-color: grey;
  margin-top: 1.5rem;
}

@media (width<500px) {
  .wrapper {
    filter: none;
  }
}
