.posts {
  flex-grow: 1;
  position: relative;
}
.postWrapper {
  display: flex;
  background-color: white;
  gap: 0.5rem;
  padding: 0.6rem;
}
.postBody {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
}
.postHeader {
  display: flex;
  align-items: flex-start;
  gap: 0.1rem;
}
.btnGrp {
  margin-left: auto;
}
.postHeader > :global(.menu-wrapper) {
  font-size: 1.2rem;
  margin-left: auto;
}
.postHeader > :global(.menu-wrapper) > :global(.material-icons-outlined) {
  display: flex;
  font-size: 1.25rem;
}
.engagement {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.2rem;
}
.engagement > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.engagement > div > :global(.material-icons-outlined),
.engagement > div > :global(.material-icons) {
  font-size: 1.3rem;
}
