.wrapper {
  display: flex;
  flex-grow: 1;
  background-color: gainsboro;
  gap: 1px;
  overflow: auto;
}
.left,
.right,
.center {
  flex-basis: 0;
  background-color: white;
}
.left,
.right {
  flex-grow: 0.7;
  min-width: 300px;
}
.postForm {
  padding: 1rem;
}
.center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.center > .postForm {
  display: none;
}

@media (width<900px) {
  .right {
    display: none;
  }
}
@media (width<600px) {
  .left {
    display: none;
  }
  .center > .postForm {
    display: flex;
  }
}
