.wrapper {
  display: flex;
  gap: 1px;
  flex-grow: 1;
  background-color: gainsboro;
  position: relative;
  overflow: auto;
}
.profile {
  flex-grow: 0.5;
  flex-basis: 0;
  padding: 0.8rem;
  min-width: 350px;
  box-sizing: border-box;
  background-color: white;
}

.dpContainer {
  position: relative;
  height: calc(160px + 35px);
}
.cover {
  width: 100%;
  height: 150px;
  border-radius: 0.2rem;
}
.dp {
  height: 60px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  transform: translateY(-50%);
  border: 3px solid white;
}
.profileActionBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.connections {
  display: flex;
  justify-items: center;
  margin-top: 1rem;
  background-color: lightgrey;
  gap: 1px;
}
.connections > button {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
  align-items: center;
  transition: 0.2s;
}
.connections > button:hover {
  background-color: rgb(235, 235, 235);
}

.editProfile {
  transition: 0.2s;
  transform: scaleY(0);
  transform-origin: top;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.editProfileActive {
  transform: scaleY(1);
}
.privacyWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.posts {
  flex-grow: 1;
  flex-basis: 0;
  background-color: white;
}
.posts > :global(.list-header) > :global(.material-icons-outlined) {
  display: none;
}
.posts > :global(.list) {
  position: relative;
  flex-grow: 1;
}
.privatePlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  grid-area: 0.3rem;
}
.privatePlaceholder > span:nth-child(1) {
  font-size: 6rem;
}
.privatePlaceholder > span:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 700;
}

@media (width<700px) {
  .profile {
    flex-grow: 1;
  }
  .posts {
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .postsActive {
    transform: scaleY(1);
  }
  .posts > :global(.list-header) > :global(.material-icons-outlined) {
    display: inline;
  }
}
